
:root {
    --primaria:#733430;
    --secundaria: #C08261;
    --ternaria: #E2C799;
    --quartenaria: #F2ECBE;
}

body{
    background-color: #FEFEFE;
}

a:hover{
    color: var(--secundaria);
}
a{

    padding-bottom: 50px;
    margin: 50px;
    text-decoration: none;
    color:var(--primaria);
}

header{
    
    font-size: 38px;
    font-family: 'niconne', cursive;
    list-style: none;
    border-bottom: 3px solid var(--primaria);
    border-top: 15px solid var(--primaria);
}
.nav-bar{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 130px;
}
.logo{
    margin-top: 150px;
    width: 700px;
    
}
.carousel {
    border-top: 2px solid var(--primaria);
    width: 1600px;
    margin-top: 100%;
    

}
.container{
    margin-left: 0px;
    margin-right: 0px;
    width: 1400px;
    display: flex;
    flex-direction: row;

}
.paralax-esquerda{
    
    background-image: url(../img/brooke-lark-4ELjpkrMpHg-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: -15px;
    margin-top: 0px;
    width: 200px;
    
    
}
.paralax-direito{
    background-image: url(../img/brooke-lark-4ELjpkrMpHg-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-right: -556px;
    margin-top: 0px;
    width: 200px;
    
    
}
.sub-barra {
    display: flex;
    background-color: var(--primaria);
    margin-top: 2px;
    height: 170px;
}
.sub-barra a {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    border: white solid 3px;
    color: white;
    font-size: 45px;
    font-family: niconne,cursive;
}
.sub-barra a:hover{
    color: var(--primaria);
    background-color:var(--quartenaria);
    border: var(--secundaria) solid 3px;

}

.rodape{
    height: 310px;
    text-align: center;
    background-color: var(--primaria);
    color:white;
    font-family: niconne,cursive;
    font-size: 30px;
    
}

.link-face{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 20px;
    border: white solid 2px;
    text-decoration: none;
    color: white;
    margin-left: -40px;
}
.link-insta{
    border: white solid 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-left: -40px;
}

.link-zap{
    border: white solid 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-left: -10px;

}
.icon-face{
    padding-bottom: 25px;
    width: 150px;
}
.icon-insta{
    padding-bottom: 15px;
    width: 180px;
}
.icon-zap{
    padding-bottom: 20px;
    width: 130px;
}
.rodape a:hover{
    color: var(--primaria);
    background-color:var(--quartenaria);
    border: var(--secundaria) solid 3px;
}
.fundo {
    background-image: url(/img/smooth-white-stucco-wall.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}
.content{
    
    width: 1600px;
    font-family: 'Sevillana', cursive;
    color: var(--primaria);
    font-size: 38px;
    text-align: center;
}
.conteudo{
    backdrop-filter: blur(3px);
}
.conteudo h1{
    padding-top: 20px;
}
.content h1 {
    font-size: 60px;
}
.content img{
    width: 300px;
}

.icon-login{
    margin-top: 10px;
    margin-left: 300px;
}
.icon-sign{
        margin-left: -60px;
}
.login{
    margin-left: -20px;
}
.cadastro{
    margin-left: 650px;
}
.rodape h2{
    padding-top: 20px;
}