*{
    padding: 0px;
    margin: 0px;
}
:root {
    --primaria:#733430;
    --secundaria: #C08261;
    --ternaria: #E2C799;
    --quartenaria: #F2ECBE;
}

body{
   
    background-color: #FEFEFE;
}

a:hover{
    color: var(--secundaria);
}
a{

    padding-bottom: 50px;
    margin: 50px;
    text-decoration: none;
    color:var(--primaria);
}

header{
    
    font-size: 38px;
    font-family: 'niconne', cursive;
    list-style: none;
    border-bottom: 3px solid var(--primaria);
    border-top: 15px solid var(--primaria);
}
.nav-bar{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 130px;
}
.logo{
    margin-top: 168px;
    width: 260px;
    
}
.carousel  {
    
    border-top: 2px solid var(--primaria);
    width: 1600px;
  
}
.carousel  img{
    height: 1000px;
}
.container{
    margin-left: 0px;
    margin-right: 0px;
    width: 1400px;
    display: flex;
    flex-direction: row;

}
.paralax-esquerda{
    
    background-image: url(../img/brooke-lark-4ELjpkrMpHg-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: -15px;
    margin-top: 0px;
    width: 200px;
    
    
}
.paralax-direito{
    background-image: url(../img/brooke-lark-4ELjpkrMpHg-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-right: -556px;
    margin-top: 0px;
    width: 200px;
    
    
    
}
.sub-barra {
    display: flex;
    background-color: var(--primaria);
    margin-top: 2px;
    height: 170px;
}
.sub-barra a {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    border: var(--ternaria) solid 3px;
    color: var(--ternaria);
    font-size: 45px;
    font-family: niconne,cursive;
}
.sub-barra a:hover{
    color: var(--primaria);
    background-color:var(--quartenaria);
    border: var(--secundaria) solid 3px;

}

.rodape{

    height: 420px;
    text-align: center;
    background-color: var(--primaria);
    color:var(--ternaria);
    font-family: niconne,cursive;
    font-size: 30px;
    
}

.link-face{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 20px;
    border: var(--ternaria) solid 2px;
    text-decoration: none;
    color: var(--ternaria);
    margin-left: -40px;
}
.link-insta{
    border: var(--ternaria) solid 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--ternaria);
    margin-left: -40px;
}

.link-zap{
    border: var(--ternaria) solid 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--ternaria);
    margin-left: -10px;

}
.icon-face{
    margin-right: 50px;
    width: 25px;
   margin-bottom: 20px; 
    
}
.icon-insta{
     margin-right: 50px;
    padding-bottom: 20px;
    width: 50px;
}

.icon-zap{
    margin-right: 20px;
    padding-bottom: 20px;
    width: 50px;
}
.rodape a:hover{
    color: var(--primaria);
    background-color:var(--quartenaria);
    border: var(--secundaria) solid 3px;
}
.icon-login{
    height: 75px;
    width: 75px;
    margin-top: 44px;
    margin-left: 400px;
    margin-right: 40px;
}
.icon-sign{
    margin-top: 44px;
    height: 75px;
    width: 75px;    
    margin-left: -30px;
}
.login{
    margin-left: -20px;
}
.cadastro{
    margin-left: 550px;
}
.rodape h2{
    padding-top: 20px;
}
.rodape-config{
    padding-top: 80px;
}
.separador img{
    margin-top: -142px;
    margin-left:800px;
    height: 320px;
}


.nav-b h2{
    margin-top: -390px;
    margin-left: 1300px;
}
.nav-b p{
    padding-top: 50px;
    width: 350px;
    margin-left: 1430px;
}
.nav-b iframe{
width: 400px;
height: 200px;
margin-left: 1340px;
margin-top: -10px;

}
.rodape p{
    margin-top: -35px;
}
.logo-rodape{
    margin-right: 1100px;
    margin-top: -400px;
    width: 400px;
    
}
.separador2{
    height: 320px;
    margin-right:850px;
    margin-top: -520px;
}
